/*font-family: 'Playfair Display', serif;*/


body{
	margin:0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color:#626262;
}

/*header start*/
header{
	padding: 20px 0;

}
.container{
	width: 90%;
	margin: 0 auto;
/*	border: 1px solid red;*/
	overflow: hidden;
}
.logo{
	width: 12%;

	float:left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 65%;

	float:right;
}
.menu ul{
	list-style: none;
	float:right;
}

.menu ul li{
	float: left;
}
.menu ul li a{

	text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color:#626262;
    margin: 0px 47px;
    border-bottom: 1px solid transparent;
    transition: .3s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid red;
}
/*header end*/

/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
.gateway{
	padding: 70px 0;
}
.container2{
	width: 80%;
	margin:0 auto;
	/*border: 1px solid red;*/
}
.g_content{}

.light{
	font-family: 'Ubuntu',sans-serif;
	font-size: 14px ;
	font-weight: 300 ;
	color:#b4ad9e ; 
	text-transform: uppercase;
	margin: 0;
}
/*banner end*/
.c_title{
	font-size: 30px;
	font-weight: 400;
	margin:25px 0 30px;
}  

.c_p{
	line-height: 25px;
	word-spacing:1px;
	margin-top: 0;
	margin-bottom: 45px;
}

.blog{
	padding: 70px 0;
}
.b_content{
	overflow: hidden;
}
.single{
	width: 47%;
	/*border: 1px solid red;*/
	float: left;
}
.single:nth-child(even){
	margin-left: 6%;
}
.single img{
	width: 100%;
	margin-bottom: 25px;

}
.mb_remove{
	margin-bottom: 0;
}

.contact{
	min-height: 500px;
	background-color: #ddd;
}

.load{
	padding: 100px 0;
	text-align:center;
}


.load button{
	width: 165px;
	height: 70px;
	background-color: white;
	background-color: transparent;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color:#626262;
	cursor: pointer;
	transition: .3s;
}

.load button:hover{
	background-color: #626262;
	color:white;
}

.terms{
	float :left;
}

.follow{
	float:right;
}

.follow ul li a{
	text-decoration: none;
}





